PRODUCTION_TOKEN= # discord bot token for production
DEV_TOKEN= # discord bot token for development
PRODUCTION_CLIENT_ID=""
DEV_CLIENT_ID=""
DEV_IDS="968622168302833735" # comma-separated list of discord user ids
GUILD_ID="1393397825085374587"
DEV_MODE= # true or false
MONGO_URI=""
ISSUES="" # github issues url
